<form [formGroup]="forgotForm" (ngSubmit)="onforgot()">
    <div class="maincontainer" >
        <div class="subcontain" ngClass.xs="subcontain-xs">
        <div class="content1" fxLayout="row" fxLayoutAlign="center end"><span style="color:blue;">F</span>
            <span style="color:red;">u</span>
            <span style="color:rgba(255, 166, 0, 0.785);">n</span>
            <span style="color:blue;">d</span>
            <span style="color:green;">o</span><span style="color:red;">o</span>
        </div>
        <div class="text1">
        <span>Forgot Password</span>
        </div>
        <div class="text2">
            <span>Enter your recovery email</span>
            </div>
            <div class="textfield" fxLayout="row" fxLayoutAlign="center center " >
                <mat-form-field class="field1" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" formControlName="emailorphone">
                    <mat-error> enter valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="p8">
                <button class="box6" ngClass.xs="box6-xs" mat-button>Next</button>
            </div>
    </div>
    </div>
    </form>
    
